/* CellpPhone(Default mode Mode */
@media screen and (max-width: 767px) {
  * {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-family: 'Comic Neue', cursive;
    height: 200vh;
    display: flex;
    
}
  
.grid{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
}
.header{
    background-color: #000000bb;
    background-size: cover;
    grid-column: 1 / -1;
    grid-row: 1 / 4;
    overflow: hidden;
}
   /* Inside hearder of grid there's a topNavigation bar */
  
  .topnav {
    margin-top: 20px;;
    overflow: hidden;
    color: #333;
    font-size: medium;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 18px;
    text-decoration: none;
    font-size: 0.9em;
  }
  
  .topnav a:hover {
    background-color: #E57B89;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
/* topNavigation bar endes here */

.content{
  background:url('./img/imgs/crespomobile.png');
  background-repeat: repeat; 
  background-position: center;
  background-attachment: scroll;
  background-size:cover;
  grid-column: 1 / -1;
  grid-row: 4/30;
  grid-row-gap: 3px;
  background-size: cover;width: 100%; 
  background-position: center; 
}
/* Inside content there's a home page Welcoming the user and itroducing myself,
There's also the Skills page displaying all my skill sets,
A page cdisplaying the projects/portfolio i done have so far 
The about  page whereby when you click there's a text about myself displayed 
The contact page where employers or just anybody who would 
like to work with me or even suggest or ask questions can leave a mail*/ 

/* Home page  divElement starts here */
  .welcomeHeading{
    color: #000000;
    font-size: 1.6em;
    text-align: center;
    font-weight: lighter;
   }
  .tshepoLesleySelekeHeading{
    color: #000000;
    font-size: 1.6em;
    text-align: center;
    font-weight: lighter;
  }
/*  Home page  divElement ends here */

  /* skills pagesats here displaying 8 icons in a grid fromat*/
  .skillsHeading{
    margin-top: 263px;
    text-align: center;
    color: black;
    font-weight: lighter;
    font-size: 1.8em
  }
  .iconsDisplayingSkills{
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 6.9px;
    text-align: center;
    color: black;
    font-size: xx-small;;
    font-weight: lighter;
  }
  .iconsDisplayingSkills img{
    width:55px;
  }
  /* Skills page ends here */

  /* styling the project page */
  .projectsHeading{
    margin-top: -400px;
    text-align: center;
    color: black;
    font-weight: lighter;
    line-height: 100px;
    font-size: 1.8em;
  }
  .MUB{
    text-align: center;
  }

/* The project page ends here */

/* The about page starts here, the "aboutTshepoSeleke" 
class is an image where i combined with the fadedbox to be one  */
  .aboutPage{
    text-align: center;
    margin-top: -601px;
    color: black;
    line-height: 12px;
    font-weight: lighter;
    width: 100%; 
    background-position: center;  
    background-attachment: fixed;      
    background-repeat: no-repeat; 
    height: 140vh;
  }
  .aboutMeHeading{
    font-size: 1.8em;
    margin-top: 300px;
    color: black;
    font-weight: lighter;
  }
  .fewFactsAboutMe{
    font-stretch: ultra-condensed; 
    font-weight:lighter; 
    font-size: 11px;
  }

  .aboutTshepoSeleke {
    cursor: pointer;
    height: 150px;
    position: relative;
    overflow: hidden;
    width: 160px;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .aboutTshepoSeleke img{
      width: 150px;
      height: 150px;
    }

 .aboutTshepoSeleke .fadedbox {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    color: #E2B659;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 160px;
    line-height: 11px;
    height: 150px;
    font-size: 10px;
    font-weight: 600;
    /* text-align: center; */

  }
  .aboutTshepoSeleke:hover .fadedbox { opacity: 0.8; }
  .aboutTshepoSeleke .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(80px);
    -webkit-transform: translateY(30px);
    color: #E2B659;
  }
  .aboutTshepoSeleke .title {
    font-size: 0.5em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    }
    .aboutTshepoSeleke:hover .title,
    .aboutTshepoSeleke:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 0;
    width:79%;
    height: 210px;
    line-height: 20px;

    }
    /* The about page ends here */

    /* The conatct paage stats here , 
    contactStatementBeforeTheForm" is a question i used for call to action */
    .contact{
    margin-top: -150px;
    color: black;
    line-height: 33px;
    font-weight: lighter;
    text-align: center;
    width: 100%;

    }
    .contactHeading{
    text-align: center;
    font-weight: lighter;

    }
    .contactStetementBefroreTheform{
      margin-top:20px;
      font-weight: lighter; 
      font-size: medium; 
      font-size: 1.0em;
      text-align: center; 
    }
    input[type=text], select, textarea {
      width: 80%;
      padding: 12px;
      border: 1px solid #000000;
      border-radius: 4px;
      resize: vertical;
    }
    label {
      padding: 10px 2px 2px 0;
      display: inline-block;
      color: 000000;
      font-weight: lighter;
    }
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: center;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    input[type=reset] {
      background-color: #4CAF50;
      color: whitesmoke;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: center;
    }
    
    input[type=reset]:hover {
      background-color: #45a049;
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
/* The contact page endes */


      /* Thefooter starts here also included in the grig of this webpage */
.footer{
  margin-top: -120px;
    background-color: #000000bb;
    color: #FFE6D6;
    grid-column: 1 / -1;
    grid-row: 40 / -1;
    text-decoration: none;
    font-size: medium;
    font-weight: lighter;
    font-stretch: ultra-condensed;
    text-align: center;
}
}
/*The Tablet mode Mode */
@media screen and (min-width: 768px) {
  body {
      margin: 0;
      font-family: 'Comic Neue', cursive;
      height: 100vh;

  }
  .grid{
      display: grid;
      grid-template-columns: repeat(40, 1fr);
      grid-template-rows: repeat(40, 1fr);
  }
  .header{
      background-color: #E89965;
      background-size: cover;
      grid-column: 1 / -1;
      grid-row: 1 / 4;
      overflow: hidden;
  }
     /* Inside hearder of grid there's a topNavigation bar */

    .topnav {
      margin-top: 20px;;
      overflow: hidden;
      color: #333;
      font-size: medium;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 1px 18px;
      text-decoration: none;
      font-size: 1.4em;
    }
    
    .topnav a:hover {
      background-color: #E57B89;
      color: black;
    }
    
    .topnav a.active {
      background-color: #4CAF50;
      color: white;
    }
    
    .topnav .icon {
      display: none;
    }
/* topNavigation bar endes here */

   /* Inside content there's a home page Welcoming the user and itroducing myself,
There's also the Skills page displaying all my skill sets,
A page cdisplaying the projects/portfolio i done have so far 
The about page page whereby when you click there's a text about myself displayed 
The contact page where by employers or just anybody who would 
like to work with me or even suggest or ask questions can leave a mail*/ 

/* Home page  divElement starts here */
  .content{
      background-size:cover;
      grid-column: 1 / -1;
      grid-row: 4/40;
      grid-row-gap: 3px;
      background-size: cover;width: 100%; 
      background-position: center; 
      height: 125vh; 
      width: 100%;
  }
  /* The Welcome sections(Home) */
    .handShakes{
      color: #F9F871;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 120px;
      width: 10%;
    }
    .welcomeHeading{
      color: rgb(224, 219, 216);
      font-size: 2.8em;
      text-align: center;
      font-weight: lighter;
     }
    .tshepoLesleySelekeHeading{
      color: #FFE6D6;
      font-size: 2.8em;
      text-align: center;
      font-weight: lighter;
    }
     /*  Home page  divElement ends here */

    /* skills pagesats here displaying 8 icons in a grid fromat*/ 

    .skillsHeading{
      margin-top: 363px;
      text-align: center;
      color: #FFE6D6;
      font-weight: lighter;
      font-size: 2.8em;
    }
    .iconsDisplayingSkills{
      text-align: center;
      color: #FFE6D6;
      font-size: medium;
      font-weight: lighter;
      margin-top: 35px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 2.3px;
      line-height: 100px;
    }
    .iconsDisplayingSkills img{
      width:55px;
    }

  /* Skills page ends here */

  /* Here we styling  the project page */
   
  /* Projects Page */
    .projectsHeading{
      margin-top: 00px;
      text-align: center;
      color: #FFE6D6;
      font-weight: lighter;
      line-height: 100px;
      font-size: 2.4em
    }
    .userResearchInterviews{
      font-size: 1.6em;
      font-weight: lighter;
      color: #FFE6D6;
      text-align: center;
    }.presentationDocument{
      font-size: 1.6em;
      font-weight: lighter;
      color: #FFE6D6;
      text-align: center;
    }
    .iconsDiplayingProjects{
      margin-top:-300px;
      display: block;
      overflow: hidden;
      grid-gap: 2.3px;
      text-align: center;
      color: #FFE6D6;
      font-weight: lighter;
    }
    .interviewIcon{
      grid-template-columns: 1/-1 ;
      font-stretch:ultra-condensed;
      color:#FFE6D6;
      
    }
    /* The project page ends here */

/* The about page starts here, the "aboutTshepoSeleke" 
class is an image where i combined with the fadedbox to be one  */
    .aboutPage{
      text-align: center;
      margin-top: -400px;
      color: #FFE6D6;
      line-height: 33px;
      font-weight: lighter;
    }
    .aboutMeHeading{
      font-size: 2.8em;
      margin-top: 300px;
      color: #FFE6D6;
      font-weight: lighter;
    }
    .fewFactsAboutMe{
      font-stretch: ultra-condensed; 
      font-weight:lighter; 
      font-size: medium;
    }
  
    .aboutTshepoSeleke {
      cursor: pointer;
      height: 150px;
      position: relative;
      width: 160px;
      text-align:center;
      clear: both;
      display: block;
      margin-left: auto;
      margin-right: auto;
      line-height: 11px;
      }
      .aboutTshepoSeleke img{
      width: 175px;
      height: 200px;
      }
  
   .aboutTshepoSeleke .fadedbox {
      background-color: #000000bb;
      position: absolute;
      top: 0;
      left: 0;
      color: rgb(245, 243, 241);
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      opacity: 0;
      width:175px;
      height: 220px;
      font-size: 0.6em
    }
    .aboutTshepoSeleke:hover .fadedbox { opacity: 0.8; }
    .aboutTshepoSeleke .text {
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      transform: translateY(30px);
      -webkit-transform: translateY(30px);
      color: #B87C4C;
    }
    .aboutTshepoSeleke .title {
      font-size: 0.5em;
      opacity: 0;
      transition-delay: 0.2s;
      transition-duration: 0.3s;
      }
      .aboutTshepoSeleke:hover .title,
      .aboutTshepoSeleke:focus .title {
      opacity: 1;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
       width:00%;
       color: whitesmoke;
       text-align: center;
       font-weight: bolder;
      }
          /* The about page ends here */

    /* The conatct paage stats here , 
    contactStatementBeforeTheForm" is a question i used for call to action */
      .contact{
      margin-top: -130px;
      color: #FFE6D6;
      line-height: 33px;
      font-weight: lighter;
      text-align: center;
      width: 100%;
  
      }
      .contactHeading{
      text-align: center;
      font-weight: lighter;
      font-size: 2.8em;
      }
      .contactStetementBefroreTheform{
      margin-top:20px;
      font-weight: lighter; 
      font-size: medium; 
      font-size: 1.3em;
      text-align: center; 
      }
      form{
        line-height: 50px;
      }
      input{
        height: 25px;
        width: 422px;
        font-size: 1.3em;
      }
      textarea{
        height: 100px;
        width: 450px;
        font-size: 1.3em;

      }
      button{
        font-size: 1.3em;
        height: 60px;
        width: 85px;
      }
  /* The contact page endes */


      /* Thefooter starts here also included in the grig of this webpage */
  .footer{
      margin-top: -20px;
      background-color: #E89965;
      color: #FFE6D6;
      grid-column: 1 / -1;
      grid-row: 40 / -1;
      text-decoration: none;
      font-size: medium;
      font-weight: lighter;
      font-stretch: ultra-condensed;
      text-align: center;
  }
  }
  /* The laptop mode */

  @media screen and (min-width: 1440px) {
  body {
      margin: 0;
      font-family: 'Comic Neue', cursive;
      height: 100vh;

  }
  .grid{
      display: grid;
      grid-template-columns: repeat(40, 1fr);
      grid-template-rows: repeat(40, 1fr);
  }
  .header{
      background-color: #E89965;
      background-size: cover;
      grid-column: 1 / -1;
      grid-row: 1 / 4;
      overflow: hidden;
  }
     /* Inside hearder of grid there's a topNavigation bar */

    .topnav {
      margin-top: 20px;;
      overflow: hidden;
      color: #333;
      font-size: medium;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 1px 18px;
      text-decoration: none;
      font-size: 1.4em;
    }
    
    .topnav a:hover {
      background-color: #E57B89;
      color: black;
    }
    
    .topnav a.active {
      background-color: #4CAF50;
      color: white;
    }
    
    .topnav .icon {
      display: none;
    }
/* topNavigation bar endes here */

   /* Inside content there's a home page Welcoming the user and itroducing myself,
There's also the Skills page displaying all my skill sets,
A page cdisplaying the projects/portfolio i done have so far 
The about page page whereby when you click there's a text about myself displayed 
The contact page where by employers or just anybody who would 
like to work with me or even suggest or ask questions can leave a mail*/ 

/* Home page  divElement starts here */
  .content{
      background-size:cover;
      grid-column: 1 / -1;
      grid-row: 4/40;
      grid-row-gap: 3px;
      background-size: cover;width: 100%; 
      background-position: center; 
      height: 125vh; 
      width: 100%;
  }
  /* The Welcome sections(Home) */
    .handShakes{
      color: #F9F871;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 120px;
      width: 10%;
    }
    .welcomeHeading{
      color: rgb(224, 219, 216);
      font-size: 2.3em;
      text-align: center;
      margin-top: 120px;
      font-weight: lighter;
     }
    .tshepoLesleySelekeHeading{
      color: #FFE6D6;
      font-size: 2.3em;
      text-align: center;
      font-weight: lighter;
    }
     /*  Home page  divElement ends here */

    /* skills pagesats here displaying 8 icons in a grid fromat*/ 

    .skillsHeading{
      margin-top: 723px;
      text-align: center;
      color: #FFE6D6;
      font-weight: lighter;
      font-size: 2.8em;
    }
    .iconsDisplayingSkills{
      text-align: center;
      color: #FFE6D6;
      font-size: medium;
      font-weight: lighter;
      margin-top: 35px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 2.3px;
      line-height: 100px;
    }
    .iconsDisplayingSkills img{
      width:55px;
    }

  /* Skills page ends here */

  /* Here we styling  the project page */
   
  /* Projects Page */
    .projectsHeading{
      margin-top: -01px;
      text-align: center;
      color: #FFE6D6;
      font-weight: lighter;
      line-height: 100px;
      font-size: 2.4em
    }
    .userResearchInterviews{
      font-size: 1.6em;
      font-weight: lighter;
      color: #FFE6D6;
      text-align: center;
    }.presentationDocument{
      font-size: 1.6em;
      font-weight: lighter;
      color: #FFE6D6;
      text-align: center;
    }
    .iconsDiplayingProjects{
      margin-top:-300px;
      display: block;
      overflow: hidden;
      grid-gap: 2.3px;
      text-align: center;
      color: #FFE6D6;
      font-weight: lighter;
    }
    .interviewIcon{
      grid-template-columns: 1/-1 ;
      font-stretch:ultra-condensed;
      color:#FFE6D6;
      
    }
    /* The project page ends here */

/* The about page starts here, the "aboutTshepoSeleke" 
class is an image where i combined with the fadedbox to be one  */
    .aboutPage{
      text-align: center;
      margin-top: -503px;
      color: #FFE6D6;
      line-height: 33px;
      font-weight: lighter;
    }
    .aboutMeHeading{
      font-size: 2.8em;
      margin-top: 400px;
      color: #FFE6D6;
      font-weight: lighter;
    }
    .fewFactsAboutMe{
      font-stretch: ultra-condensed; 
      font-weight:lighter; 
      font-size: medium;
    }
  
    .aboutTshepoSeleke {
      cursor: pointer;
      height: 150px;
      position: relative;
      width: 160px;
      text-align:center;
      clear: both;
      display: block;
      margin-left: auto;
      margin-right: auto;
      line-height: 111px;
      }
      .aboutTshepoSeleke img{
      width: 175px;
      height: 200px;
      }
  
   .aboutTshepoSeleke .fadedbox {
      background-color: #000000bb;
      position: absolute;
      top: 0;
      left: 0;
      color: rgb(245, 243, 241);
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      opacity: 0;
      width:175px;
      height: 220px;
      font-size: 0.6em
    }
    .aboutTshepoSeleke:hover .fadedbox { opacity: 0.8; }
    .aboutTshepoSeleke .text {
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      transform: translateY(30px);
      -webkit-transform: translateY(30px);
      color: #B87C4C;
    }
    .aboutTshepoSeleke .title {
      font-size: 0.5em;
      opacity: 0;
      transition-delay: 0.2s;
      transition-duration: 0.3s;
      }
      .aboutTshepoSeleke:hover .title,
      .aboutTshepoSeleke:focus .title {
      opacity: 1;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
       width:00%;
       color: whitesmoke;
       text-align: center;
       font-weight: bolder;
      }
          /* The about page ends here */

    /* The conatct paage stats here , 
    contactStatementBeforeTheForm" is a question i used for call to action */
      .contact{
      margin-top: -320px;
      color: #FFE6D6;
      line-height: 33px;
      font-weight: lighter;
      text-align: center;
      width: 100%;
     
  
      }
      .contactHeading{
      text-align: center;
      font-weight: lighter;
      font-size: 2.8em;
      }
      .contactStetementBefroreTheform{
      margin-top:20px;
      font-weight: lighter; 
      font-size: medium; 
      font-size: 1.3em;
      text-align: center; 
      }
      form{
        line-height: 50px;
      }
      input{
        height: 25px;
        width: 422px;
        font-size: 1.3em;
      }
      textarea{
        height: 100px;
        width: 850px;
        font-size: 1.3em;

      }
      button{
        display: block;
        font-size: 1.3em;
        height: 60px;
        width: 785px;
        margin: 0 auto;
      }
  /* The contact page endes */


      /* Thefooter starts here also included in the grig of this webpage */
  .footer{
      margin-top: -100px;
      background-color: #E89965;
      color: #FFE6D6;
      grid-column: 1 / -1;
      grid-row: 40 / -1;
      text-decoration: none;
      font-size: medium;
      font-weight: lighter;
      font-stretch: ultra-condensed;
      text-align: center;
  }
  }
 
 /* The Desktop mode */
 @media screen and (min-width: 2560px) {
  body {
    margin: 0;
    font-family: 'Comic Neue', cursive;
    height: 100vh;

}
.grid{
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(40, 1fr);
}
.header{
    background-color: #E89965;
    background-size: cover;
    grid-column: 1 / -1;
    grid-row: 1 / 4;
    overflow: hidden;
}
   /* Inside hearder of grid there's a topNavigation bar */

  .topnav {
    margin-top: 20px;;
    overflow: hidden;
    color: #333;
    font-size: medium;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 50px 78px;
    text-decoration: none;
    font-size: 5.1em;
  }
  
  .topnav a:hover {
    background-color: #E57B89;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
/* topNavigation bar endes here */

 /* Inside content there's a home page Welcoming the user and itroducing myself,
There's also the Skills page displaying all my skill sets,
A page cdisplaying the projects/portfolio i done have so far 
The about page page whereby when you click there's a text about myself displayed 
The contact page where by employers or just anybody who would 
like to work with me or even suggest or ask questions can leave a mail*/ 

/* Home page  divElement starts here */
.content{
    background-size:cover;
    grid-column: 1 / -1;
    grid-row: 4/40;
    grid-row-gap: 3px;
    background-size: cover;width: 100%; 
    background-position: center; 
    height: 125vh; 
    width: 100%;
}
/* The Welcome sections(Home) */
  .handShakes{
    color: #F9F871;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 320px;
    width: 15%;
  }
  .welcomeHeading{
    color: rgb(224, 219, 216);
    font-size: 8.8em;
    text-align: center;
    font-weight: lighter;
   }
  .tshepoLesleySelekeHeading{
    color: #FFE6D6;
    font-size: 8.8em;
    text-align: center;
    font-weight: lighter;
  }
   /*  Home page  divElement ends here */

  /* skills pagesats here displaying 8 icons in a grid fromat*/ 

  .skillsHeading{
    margin-top: 1003px;
    text-align: center;
    color: #FFE6D6;
    font-weight: lighter;
    font-size: 8.8em;
  }
  .iconsDisplayingSkills{
    text-align: center;
    color: #FFE6D6;
    font-size: 3.3em;
    font-weight: lighter;
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2.3px;
    line-height: 160px;
  }
  .iconsDisplayingSkills img{
    width:298px;
  }

/* Skills page ends here */

/* Here we styling  the project page */
 
/* Projects Page */
  .projectsHeading{
    margin-top: -100px;
    text-align: center;
    color: #FFE6D6;
    font-weight: lighter;
    line-height: 100px;
    font-size: 7.8em
  }
  .userResearchInterviews{
    font-size: 4.6em;
    font-weight: lighter;
    color: #FFE6D6;
    text-align: center;
  }.presentationDocument{
    font-size: 4.6em;
    font-weight: lighter;
    color: #FFE6D6;
    text-align: center;
  }
  .iconsDiplayingProjects{
    margin-top:-300px;
    display: block;
    overflow: hidden;
    grid-gap: 2.3px;
    text-align: center;
    color: #FFE6D6;
    font-weight: lighter;
  }
  .interviewIcon{
    grid-template-columns: 1/-1 ;
    font-stretch:ultra-condensed;
    color:#FFE6D6;
    
  }
  /* The project page ends here */

/* The about page starts here, the "aboutTshepoSeleke" 
class is an image where i combined with the fadedbox to be one  */
  .aboutPage{
    text-align: center;
    margin-top: -301px;
    color: #FFE6D6;
    line-height: 33px;
    font-weight: lighter;
  }
  .aboutMeHeading{
    font-size: 7.8em;
    margin-top: 300px;
    color: #FFE6D6;
    font-weight: lighter;
  }
  .fewFactsAboutMe{
    font-stretch: ultra-condensed; 
    font-weight:lighter; 
    font-size: 3.6em;
  }

  .aboutTshepoSeleke {
    cursor: pointer;
    height: 150px;
    position: relative;
    overflow: hidden;
    width: 660px;
    height: 710px;
    text-align:center;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .aboutTshepoSeleke img{
      width: 675px;
      height: 700px;
    }

 .aboutTshepoSeleke .fadedbox {
    background-color: #000000e5;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    height:100%;
    /* line-height: 19px; */
    font: 2.3em sans-serif;

  }
    .aboutTshepoSeleke:hover .fadedbox { opacity: 0.8; }
  .aboutTshepoSeleke .titletext {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    color: #B87C4C;
  }
  .aboutTshepoSeleke .titletext {
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;

    }
    .aboutTshepoSeleke:hover .titletext,
    .aboutTshepoSeleke:focus .titletext {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
     width:95%;
     margin:  auto;
     height: 700%;
     color: rgb(219, 215, 212);
     text-align: center;
     font-weight: bolder;
    }
        /* The about page ends here */

  /* The conatct paage stats here , 
  contactStatementBeforeTheForm" is a question i used for call to action */
    .contact{
    margin-top: -138px;
    color: #FFE6D6;
    line-height: 33px;
    font-weight: lighter;
    text-align: center;
    width: 100%;

    }
    .contactHeading{
    text-align: center;
    font-weight: lighter;
    font-size: 7.8em;
    }
    .contactStetementBefroreTheform{
    margin-top:20px;
    font-weight: lighter; 
    font-size: medium; 
    font-size: 4.3em;
    text-align: center; 
    }
    form{
      line-height: 300px;
    }
    input{
      height: 130px;
      width: 750px;
      font-size: 3.3em;
    }
    textarea{
      height: 200px;
      width: 250px;
      font-size: 2.3em;

    }
    button{
      font-size: 2.8em;
      height: 60px;
      width: 190px;
    }
/* The contact page endes */


    /* Thefooter starts here also included in the grig of this webpage */
.footer{
    margin-top: 200px;
    background-color: #E89965;
    color: #FFE6D6;
    grid-column: 1 / -1;
    grid-row: 40 / -1;
    text-decoration: none;
    font-size: 7.8em;
    font-weight: lighter;
    font-stretch: ultra-condensed;
    text-align: center;
    
}
.letsGetSocial{
  font-weight: lighter; 
  font-size: 0.5em; 
  text-align: center;
}
.websiteBelongsTo{
  font-weight: lighter; 
  font-size: 0.5em; 
  text-align: center;
}

}